<h1><%= @doctor.name() %></h1>

<% if @doctor.patients().any?() %>
  <h3>Here are all the patients of this doctor:</h3>

  <ul>
    <% @doctor.patients().each() do |patient| %>
      <li><%= patient.name() %> Birthday: <%= patient.birthdate() %></li>
      <button>Delete</button>
    <% end %>
  </ul>

  <% else %>
    <p>There are no patients for this doctor!</p>
  <% end %>


<h3>Add a patient to <em><%= @doctor.name() %></em> </h3>

<form action="/patients" method="post">
  <input id="doctor_id" name="doctor_id" type="hidden" value="<%= @doctor.id() %>">

  <label for="name">Name of the patient:</label>
  <input id="name" name="name" type="text">

  <label for="birthdate">Birthdate:</label>
  <input type="date" name="birthdate" id="birthdate">

  <button type="submit">Add patient</button>
</form>

<hr>

<div class="container">
  <a href="/">Home</a>
  <a href="/doctors">View All Doctors</a>
  <a href="/doctors/new">Add New Doctor</a>
</div>
